.layout {
  display: flex;
  height: 100vh;
}

.innerlayout {
  width: 100%;
  margin-left: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-y: auto;
  padding-bottom: 140px;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Ensures left and right are spaced correctly */
  align-items: center; /* Centers items vertically */
  width: 100%; /* Full width */
}
.sidebar {
  position: fixed; 
  top: 0;
  height: 100vh;
  width: 250px; 
  background-color: #343a40; 
}

.footer {
  position: fixed; 
  bottom: 0;
  width: 100%;
  background-color: #343a40; 
  height: 140px;
}

.login {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container {
  display: flex; /* Ensures the container uses flex */
  justify-content: space-between; /* Spaces items evenly */
  align-items: center; /* Centers items vertically */
}

.postlist{
  display: flex;
  flex-wrap: wrap;
}

.addpost{
  margin: 15px;
}
.fnc{
  cursor: pointer;
}